<form action="/create" method="post">
    <h2>create ToDo</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>ToDo title</label>
    </div>
    <button type="submit" class="btn">CREATE</button>
</form>